name: Azure Policy & Terraform CI

on:
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.7  # or any stable version

      - name: Terraform Init & Validate (Azure)
        run: |
          cd terraform/azure
          terraform init -input=false
          terraform validate


