      # ----------  GCP login via Workload Identity Federation  ----------
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ projects/570322564029/locations/global/workloadIdentityPools/github-pool/providers/github }}
          service_account: ${{ github-terraform@defender-lab.iam.gserviceaccount.com }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: defender-lab
          export_default_credentials: true

      # ----------  Terraform validate & plan (GCP) ----------
      - name: Terraform init (GCP)
        working-directory: terraform/gcp
        run: terraform init -input=false

      - name: Terraform plan (GCP)
        working-directory: terraform/gcp
        run: terraform plan -out=tfplan -input=false

      - name: Export plan JSON (GCP)
        working-directory: terraform/gcp
        run: terraform show -json tfplan > tfplan.json



